<a href="https://colab.research.google.com/github/kamillfo333/Lab2/blob/main/firstLec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

first task

FOR 5

In [1]:
import random

price = round(random.uniform(0, 100),2)
print('Цена 1 кг конфет: ', price)
print()
for i in range(1,11):
    x = 0.1*i
    print('Стоимость {0:.1f} кг: {1:.2f}'.format(x, x * price))
print()

Цена 1 кг конфет:  43.98

Стоимость 0.1 кг: 4.40
Стоимость 0.2 кг: 8.80
Стоимость 0.3 кг: 13.19
Стоимость 0.4 кг: 17.59
Стоимость 0.5 кг: 21.99
Стоимость 0.6 кг: 26.39
Стоимость 0.7 кг: 30.79
Стоимость 0.8 кг: 35.18
Стоимость 0.9 кг: 39.58
Стоимость 1.0 кг: 43.98

For 15

In [2]:
import random

N = random.randrange(1,10)
print('N = ', N)
A = random.randrange(-10,10)
print('A = ', A)

P = 1
for i in range(1,N+1):
    P *= A
    print(i," : ",P)
print("Product = ",P)

N =  9
A =  -10
1  :  -10
2  :  100
3  :  -1000
4  :  10000
5  :  -100000
6  :  1000000
7  :  -10000000
8  :  100000000
9  :  -1000000000
Product =  -1000000000

For 25

In [3]:
import math
X = 0.5
N = 10
print('X = ', X)
print('N = ', N)

p = 1
S = 0
for i in range(1,N+1):
    p *= X
    S += p/i
    print(i," : ", p," : ", S)
    p *= -1

print("Result:")
print(S)
print("ln(x+1):")
print(math.log(X+1))

X =  0.5
N =  10
1  :  0.5  :  0.5
2  :  -0.25  :  0.375
3  :  0.125  :  0.4166666666666667
4  :  -0.0625  :  0.4010416666666667
5  :  0.03125  :  0.40729166666666666
6  :  -0.015625  :  0.4046875
7  :  0.0078125  :  0.40580357142857143
8  :  -0.00390625  :  0.40531529017857143
9  :  0.001953125  :  0.4055323040674603
10  :  -0.0009765625  :  0.4054346478174603
Result:
0.4054346478174603
ln(x+1):
0.4054651081081644

For 35

In [4]:
for N in range(2,63,10):
    print("N = ",N)
    A1 = 1
    A2 = 2
    A3 = 3
    print(1," : ",A1)
    print(2," : ",A2)
    print(3," : ",A3)
    for k in range(4,N+1):
        A4 = A3 + A2 - 2*A1
        print(k," : ",A4)
        A1 = A2
        A2 = A3
        A3 = A4
    print()

N =  2
1  :  1
2  :  2
3  :  3

N =  12
1  :  1
2  :  2
3  :  3
4  :  3
5  :  2
6  :  -1
7  :  -5
8  :  -10
9  :  -13
10  :  -13
11  :  -6
12  :  7

N =  22
1  :  1
2  :  2
3  :  3
4  :  3
5  :  2
6  :  -1
7  :  -5
8  :  -10
9  :  -13
10  :  -13
11  :  -6
12  :  7
13  :  27
14  :  46
15  :  59
16  :  51
17  :  18
18  :  -49
19  :  -133
20  :  -218
21  :  -253
22  :  -205

N =  32
1  :  1
2  :  2
3  :  3
4  :  3
5  :  2
6  :  -1
7  :  -5
8  :  -10
9  :  -13
10  :  -13
11  :  -6
12  :  7
13  :  27
14  :  46
15  :  59
16  :  51
17  :  18
18  :  -49
19  :  -133
20  :  -218
21  :  -253
22  :  -205
23  :  -22
24  :  279
25  :  667
26  :  990
27  :  1099
28  :  755
29  :  -126
30  :  -1569
31  :  -3205
32  :  -4522

N =  42
1  :  1
2  :  2
3  :  3
4  :  3
5  :  2
6  :  -1
7  :  -5
8  :  -10
9  :  -13
10  :  -13
11  :  -6
12  :  7
13  :  27
14  :  46
15  :  59
16  :  51
17  :  18
18  :  -49
19  :  -133
20  :  -218
21  :  -253
22  :  -205
23  :  -22
24  :  279
25  :  667
26  :  990
27  :  1099
28  :  755
29  :  -126
30  :  -1569
31  :  -3205
32  :  -4522
33  :  -4589
34  :  -2701
35  :  1754
36  :  8231
37  :  15387
38  :  20110
39  :  19035
40  :  8371
41  :  -12814
42  :  -42513

N =  52
1  :  1
2  :  2
3  :  3
4  :  3
5  :  2
6  :  -1
7  :  -5
8  :  -10
9  :  -13
10  :  -13
11  :  -6
12  :  7
13  :  27
14  :  46
15  :  59
16  :  51
17  :  18
18  :  -49
19  :  -133
20  :  -218
21  :  -253
22  :  -205
23  :  -22
24  :  279
25  :  667
26  :  990
27  :  1099
28  :  755
29  :  -126
30  :  -1569
31  :  -3205
32  :  -4522
33  :  -4589
34  :  -2701
35  :  1754
36  :  8231
37  :  15387
38  :  20110
39  :  19035
40  :  8371
41  :  -12814
42  :  -42513
43  :  -72069
44  :  -88954
45  :  -75997
46  :  -20813
47  :  81098
48  :  212279
49  :  335003
50  :  385086
51  :  295531
52  :  10611

N =  62
1  :  1
2  :  2
3  :  3
4  :  3
5  :  2
6  :  -1
7  :  -5
8  :  -10
9  :  -13
10  :  -13
11  :  -6
12  :  7
13  :  27
14  :  46
15  :  59
16  :  51
17  :  18
18  :  -49
19  :  -133
20  :  -218
21  :  -253
22  :  -205
23  :  -22
24  :  279
25  :  667
26  :  990
27  :  1099
28  :  755
29  :  -126
30  :  -1569
31  :  -3205
32  :  -4522
33  :  -4589
34  :  -2701
35  :  1754
36  :  8231
37  :  15387
38  :  20110
39  :  19035
40  :  8371
41  :  -12814
42  :  -42513
43  :  -72069
44  :  -88954
45  :  -75997
46  :  -20813
47  :  81098
48  :  212279
49  :  335003
50  :  385086
51  :  295531
52  :  10611
53  :  -464030
54  :  -1044481
55  :  -1529733
56  :  -1646154
57  :  -1086925
58  :  326387
59  :  2531770
60  :  5032007
61  :  6911003
62  :  6879470

While 5

In [5]:
import random

K = random.randrange(1,30)
N = 2 ** K

print('K = ', K)
print('N = ', N)

K_new = 0
while N >= 2:
    N /= 2
    K_new += 1
print("K = ", K_new)

K =  23
N =  8388608
K =  23

While 15

In [6]:
import random

S_start = 1000
S_end = 1100

P = random.randrange(10,260)/10
#P = 7
print('P = ', P)
coef = 1 + P/100
print("Initial Amount = {0}, Percent = {1}, Coef = {2}".format(S_start,P,coef))
K = 0
S = S_start
while S < S_end:
    S *= coef
    K += 1
    print("K = {0}, S = {1}".format(K,S))

print()
print("Months = {0}, Final Amount = {1}".format(K,S))

P =  19.7
Initial Amount = 1000, Percent = 19.7, Coef = 1.197
K = 1, S = 1197.0

Months = 1, Final Amount = 1197.0

While 25

In [7]:
import random

N = random.randrange(1,100000)
#N = 4181
print("N = ",N)
F1 = F2 = 1
print(F1,end="; ")
print(F2,end="; ")

while F2 <= N:
    F1, F2 = F2, F1+F2
    print(F2,end="; ")
print()
print(F2)

N =  70264
1; 1; 2; 3; 5; 8; 13; 21; 34; 55; 89; 144; 233; 377; 610; 987; 1597; 2584; 4181; 6765; 10946; 17711; 28657; 46368; 75025;
75025